<header>
    <h1>{{ title }}</h1>
</header>

<main>
    <form class="todo-form">
        <input type="text" name="title" placeholder="Что нужно сделать?" required />
        <button type="submit">Добавить</button>
    </form>

    <section class="todo-list">
        <div class="todo-item" *ngFor="let todo of todos">
            <button class="checkbox icon">
                <i class="material-icons">check_box_outline_blank</i>
            </button> 

            <span class="title">{{ todo.title }}</span>
            
            <div class="actions">
                <button class="delete icon">
                    <i class="material-icons">delete</i>
                </button>
            </div>
        </div>
    </section>
</main>
